#submit-button {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #45a049;
}

#answer-input {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    white-space: pre-wrap;
}

#question-container {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
    white-space: pre-wrap;
}

#msg-container {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
    white-space: pre-wrap;
}

#base-container {
    margin: 5px auto;
    padding: 5px;
    font-size: 15px;
    white-space: pre-line;
}

body {
    font-family: 'Courier New', monospace;
}
